* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    margin: 0;
  }
/* product tag */
.tag {
    font-size: 0.9rem;
    background-color: black;
    border-radius: 5px;
    width: 4rem;
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 20px;
  }
  
  /* product*/
  .product-title {
    font-size: 2rem;
    font-weight: 700;
  }
  
  .product-card {
    background: #fff;
    display: flex;
    /* align-items: center; */
    box-shadow: 10px 10px 25px 0px #3c3c3c;
  }
  
  .product-image {
    /* border: 2px solid black; */
    background-image: url("./img/black-benz.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30rem;
  }
  .product-tile {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1;
  }
  .product-description {
    background-color: #62c256;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
  }
  
  .product-image img {
    width: 28rem;
    height: 100%;
  }
  
  .stars {
    color: yellow;
    font-size: 1em;
  }
/* colors */
.colors-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: -15px;
  }
  .pick-color {
    display: flex;
    align-items: center;
  }

  .pick-color p {
    margin: 10px auto 5px;
    margin-right: 12px;
  }
  
  .colors {
    display: flex;
    width: 6rem;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .red {
    background: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  
  .gray {
    background: gray;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  
  .black {
    background: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  
  .pricing {
    display: flex;
    width: 12rem;
    align-items: center;
  }

  .new-price {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .old-price {
    font-weight: 100;
    font-size: 14px;
    text-decoration: line-through;
  }
/* buttons */
button {
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  #button {
    background-color: #000;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
  }
  
  button white-button {
    background-color: #fff;
  }
  
  .button-text {
    color: #fff;
    margin-left: 5px;
  }
  
  .feedback {
    display: none;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
  }
  
@media (max-width: 767px) {
    body {
        display: initial;
        height: auto;
    }
    .product-card {
        flex-direction: column;
    }
    .product-image {
        width: 100%;
        height: 250px;
    }
    .product-tile {
      font-size: 24px;
    }
    .colors-price {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        margin-top: -15px;
    }
    .feedback {
      padding: 10px;
    }
}